{{!-- <label for="file">Attach</label>
<br>
<input class="input input_file visually-hidden" type="file" name="file" id="file"> 
 --}}

<label for="file">Choose a file:</label>
<br>
<input type="file" id="file" name="file" multiple onchange="handleChange(event)">
<label style="display:inline-block" for="file">
    <span class="button" role="button">Choose
        File</span>
    <span class="input input_text input_text--disabled" title="file name">No file chosen</span>
</label>
{{!-- <script>
    function handleChange(event) {
        Array.prototype.map.call(event.target.files, file => file.name)
    }
</script> --}}