<input type="checkbox" class="visually-hidden" value="checkbox" id="agree_to_terms_of_condition"
    name="agree_to_terms_of_condition">
<label class="input input_checkbox" for="agree_to_terms_of_condition"></label>
<label for="agree_to_terms_of_condition">I Agree to the terms and conditions.</label>