<label for="account_type">Type of Account</label>
<select id="account_type" name="account_type" class="select">
    <option value="volvo">Select One</option>
    <option value="saab">Checking</option>
    <option value="mercedes">Saving</option>
</select>